{% extends 'layout' %}

{% block content %}
  <div class="row">
    <div class="small-6 small-offset-3 columns">
      {{ form_open( { route: 'login', required : 'required' } ) }}
      {{ form_label( 'email', 'Email' ) }}
      {{ form_email( 'email', input_old( 'email' ), { required : 'required' } ) }}
      {{ form_label( 'password', 'Password' ) }}
      {{ form_password( 'password' , { required : 'required' } ) }}
      {% if redirect %}
          {{ form_hidden( 'redirect_to' , redirect ) }}
      {% endif %}
      {{ form_submit( 'Log In', { class : 'button' } ) }}
      {{ form_close() }}
    </div>
  </div>
{% endblock %}
