{% extends 'layout' %}

{% block content %}
    <div class="columns">
        <div class="column">
            {{ form_open( { route: 'login', required : 'required' } ) }}
            <p class="control">
                {{ form_label( 'email', 'Email' ) }}
                {{ form_email( 'email', input_old( 'email' ), { required : 'required', class: 'input' } ) }}
            </p>
            <p class="control">
                {{ form_label( 'password', 'Password' ) }}
                {{ form_password( 'password' , { required : 'required', class: 'input' } ) }}
            </p>
            {% if redirect %}
                {{ form_hidden( 'redirect_to' , redirect ) }}
            {% endif %}
            {{ form_submit( 'Log In', { class : 'button is-primary is-large' } ) }}
            {{ form_close() }}
        </div>
    </div>
{% endblock %}
