{% extends 'layout' %}

{% block content %}
  <div class="row">
    <div class="col">
      {{ form_open( { route: 'login', required : 'required' } ) }}
      <div class="form-group">
          {{ form_label( 'email', 'Email' ) }}
          {{ form_email( 'email', input_old( 'email' ), { required : 'required', class: 'form-control' } ) }}
      </div>
      <div class="form-group">
          {{ form_label( 'password', 'Password' ) }}
          {{ form_password( 'password' , { required : 'required', class: 'form-control' } ) }}
      </div>
      {% if redirect %}
          {{ form_hidden( 'redirect_to' , redirect ) }}
      {% endif %}
      {{ form_submit( 'Log In', { class : 'btn btn-primary btn-lg' } ) }}
      {{ form_close() }}
    </div>
  </div>
{% endblock %}
