<!DOCTYPE html>
<html>
<head>
    <title>{{ pageTitle }} | Kettle</title>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.0.5/css/foundation.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">{{ pageTitle }}</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            {% if logged_in == true %}
                <li><a href="{{ url_route( 'dashboard' ) }}"><i class="fa fa-line-chart"></i> Dashboard</a></li>
                <li><a href="{{ url_route( 'notes.index' ) }}"><i class="fa fa-pencil"></i> Notes</a></li>
                <li><a href="{{ url_route( 'doLogout' ) }}"><i class="fa fa-sign-out"></i> Log Out</a></li>
            {% else %}
                <li><a href="{{ url_route( 'login' ) }}"><i class="fa fa-sign-in"></i> Log In</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.0.5/js/foundation.min.js"></script>
<script type="text/javascript" src="js/all.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
