{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <button class="new-note large expanded button"><i class="fa fa-plus"></i> New Note</button>
            <div class="cards">
                {% for note in notes %}
                <div class="card {{ note.id }}">
                    <h3>{{ note.title|raw }}</h3>
                    <h4>Last Updated: {{ note.updated_at|date('M jS, Y g:i a', timezone="America/Chicago") }}</h4>
                    <div>{{ note.body|raw }}</div>
                    <span>{{ note.id }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="small-8 columns">
            <div class="title" contenteditable></div>
            <input type="hidden" class="id">
            <div class="body" contenteditable></div>
            <button class="save-note button"><i class="fa fa-save"></i> Save</button>
            <button class="update-note button"><i class="fa fa-save"></i> Update</button>
            <button class="delete-note alert button"><i class="fa fa-remove"></i> Delete</button>
        </div>
    </div>
{% endblock %}
