{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Tasks</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Categories</h2>
            <ol class="task-categories">
                <li><div class="task-category active" data-task-category="0"><i class="material-icons">inbox</i> <span>Inbox</span></div></li>
                {% for taskCategory in taskCategories %}
                    <li><div class="task-category" data-task-category="{{ taskCategory.id }}"><i class="material-icons">view_list</i> <span>{{ taskCategory.title|raw }}</span></div></li>
                {% endfor %}
            </ol>
            <div class="new-task-category-container">
                <div class="new-task-category-title" contenteditable></div>
                <button class="new-task-category btn btn-primary">New Category</button>
            </div>
        </div>
        <div class="col">
            <h2 class="current-task-category">Inbox</h2>
            <div contenteditable class="content"></div>
            <button class="new-task btn btn-primary btn-lg">New Task</button>
            <div class="tasks">
                {% for task in tasks %}
                    <div class="task {{ task.id }}">
                        <button class="save-task btn btn-primary">Save</button>
                        <a class="complete-task"><i class="material-icons">check_box_outline_blank</i></a>
                        <div contenteditable>{{ task.content|raw }}</div>
                        <span>{{ task.id }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
